---
layout: default
---

{%-include back_link.html-%}

<link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
<script src="https://unpkg.com/gitalk/dist/gitalk.min.js"></script>

<article>
  <p class="post-meta">
    <span class="category">
        {% for category in page.category %} #{{ category | downcase }} {% endfor %}
    </span>
  </p>

  <p class="post-meta post-list-date">
    <time datetime="{{ page.date }}">{{ page.date | date: site.theme_config.date_format }}</time>
  </p>

  <h1>{{ page.title }}</h1>

  {{ content }}
</article>

<div id="gitalk-container"></div>
